﻿@page

@model IndexModel

@{
    ViewData["Title"] = "Home";
}


<div class="row">
    <h1>Restaurants</h1>
</div>

<div class="row">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Location</th>
                    <th scope="col">Cuisine</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var restaurant in Model.Restaurants)
                {
                    <tr>
                        <td>@restaurant.Name</td>
                        <td>@restaurant.Location</td>
                        <td>@restaurant.Cuisine.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <br />
</div>