﻿@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This site is only used for demonstration purposes. Non-personal or individual information is saved in any places.</p>
